* {
    box-sizing: border-box;
}
body{
  background-image: url('image.jpeg');
}
.header {
    background-color: black;
    padding: 15px;
    text-align: center;
}

/* CSS property for nevigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}
img {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.2;
}
