* {
    box-sizing: border-box;
}
body{
  background-image: url('C:\Users\user\fullstack-course4\examples\Lecture25');
}
.header {
    background-color: black;
    padding: 15px;
    text-align: center;
}

/* CSS property for nevigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}
